*.swo
*.swp
/Code/Api/var/cache/*
/Code/Api/var/log/*
/Code/Api/var/session/*
!Code/Api/var/cache/.gitkeep
!Code/Api/var/logs/.gitkeep
!Code/Api/var/session/.gitkeep
Code/Api/public/bundles
Code/Api/vendor
Code/Site/node_modules
Code/Site/coverage
Code/Site/build
Code/Sitenpm-debug.log*
Code/Siteyarn-debug.log*
Code/Siteyarn-error.log*
Code/Site/node_modules
Code/Site/.pnp
Code/Site.pnp.js
Code/Site/coverage
Code/Site/build
Code/Sitenpm-debug.log*
Code/Siteyarn-debug.log*
Code/Siteyarn-error.log*
