*.swo
*.swp
/Code/Api/var/cache/*
/Code/Api/var/log/*
/Code/Api/var/session/*
!Code/Api/var/cache/.gitkeep
!Code/Api/var/logs/.gitkeep
!Code/Api/var/session/.gitkeep
Code/Api/public/bundles
Code/Api/vendor
Code/Site/node_modules
Code/Site/coverage
Code/Site/build
Code/Site/npm-debug.log
Code/Site/yarn-debug.log
Code/Site/yarn-error.log
